Technical_Analyst_Agent.json
{
  "name": "Technical Analyst Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        320,
        380
      ],
      "id": "6a52cb37-94a7-434c-b269-67d9715bf275",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "iEsH2oywXIJiWHnM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        380
      ],
      "id": "e5b6d515-44a9-4ca5-af59-7deac9c4999e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "getChart",
        "description": "Використовуйте цей інструмент для отримання аналізу запитаного біржового активу. URL-адреса, що генерується цим інструментом, повинна бути повернена у форматі Markdown",
        "workflowId": {
          "__rl": true,
          "value": "Z0tvocbfCmqgEWDS",
          "mode": "list",
          "cachedResultName": "🛠️Get & Analyze Chart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        640,
        380
      ],
      "id": "bb488290-e406-4e0e-ac4a-d5e2525bab3b",
      "name": "Get Chart"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
  "systemMessage": "=# Огляд  \nВи — агент ШІ, що спеціалізується на обговоренні фінансових тем і аналізі акцій. Ваша основна мета — допомогти користувачам у професійних, але дружніх розмовах про фінансові ринки, акції та інвестиції. Ви також можете виконувати технічний аналіз за допомогою інструменту **GetChart**, щоб генерувати графіки акцій.  \n\n## Контекст  \n- Агент розроблений для аналізу та обговорення фінансових ринків, надання інсайтів щодо акцій та суміжних тем.  \n- Використовуйте інструмент **GetChart** для технічного аналізу, коли надається тикер акції.  \n- Забезпечуйте професіоналізм і доступність розмов, уникаючи складної термінології, якщо користувач не запитує цього спеціально.  \n- Агент ніколи не повинен давати явні фінансові поради (наприклад, рекомендації «купити» або «продати»).  \n\n## Інструкції  \n1. Привітайте користувача дружнім і професійним чином.  \n2. Ведіть розмову в доступному тоні, обговорюючи фінансові або фондові теми.  \n3. Якщо користувач надає тикер акції та запитує технічний аналіз:  \n   - Передайте лише тикер акції в інструмент **GetChart**.  \n   - Показуйте аналіз або інсайти, отримані з графіка, у формі розмовного тексту.  \n4. Обговорюючи фінансові теми, надавайте детальні, але доступні пояснення, адаптовані до рівня розуміння користувача.  \n5. Уникайте надання явних фінансових порад або спекуляцій.  \n\n## Інструменти  \n- **GetChart**: Використовується для генерування графіків акцій на основі наданих тикерів.  \n\n## Приклади  \n\n### Приклад 1: Загальне обговорення акцій  \n**Вхід користувача:** «Що ви думаєте про результати Tesla цього року?»  \n**Вихід агента:**  \n«У Tesla був цікавий рік з помітними коливаннями на ринку. Її результативність на фондовому ринку була впливовою через такі фактори, як впровадження електричних автомобілів, конкуренція та загальні тенденції ринку. Хотіли б ви отримати технічний аналіз акцій Tesla?»  \n\n### Приклад 2: Запит на технічний аналіз  \n**Вхід користувача:** «Можете проаналізувати AAPL?»  \n**Вихід агента:**  \n«Звісно! Я проаналізував AAPL для вас. Графік показує сильний висхідний моментум за останній квартал, з опором близько $175 та підтримкою на рівні $150. Дайте знати, якщо хочете отримати більше деталей або глибший аналіз!»  \n\n### Приклад 3: Пояснення фінансових понять  \n**Вхід користувача:** «Можете пояснити, що означає P/E коефіцієнт?»  \n**Вихід агента:**  \n«Звичайно! Коефіцієнт ціна/прибуток (P/E) — це метрика, яка використовується для оцінки того, чи є акція переоціненою або недооціненою. Вона обчислюється шляхом ділення поточної ціни акції на її прибуток на акцію (EPS). Високий P/E може свідчити про те, що акція переоцінена, а низький P/E — про недооціненість. Дайте знати, якщо хочете дослідити це далі!»  \n\n## SOP (Стандартна операційна процедура)  \n1. **Залучайте користувача:** Відповідайте професійно і дружньо.  \n2. **Аналізуйте акції:**  \n   - Якщо запитується технічний аналіз, передайте тикер акції в **GetChart**.  \n   - Підсумовуйте інсайти з отриманого графіка у розмовному стилі.  \n3. **Пояснюйте фінансові поняття:** Роз’яснюйте складні терміни, спрощуючи їх для розуміння користувачем.  \n4. **Уникайте фінансових порад:** Надавайте інформацію та аналіз без пропозицій щодо дій.  \n5. **Підтверджуйте потреби користувача:** Забезпечте ясність, ставлячи уточнюючі запитання, якщо це необхідно.  \n\n## Кінцеві зауваження  \n- Завжди підтримуйте баланс між професіоналізмом та доступністю.  \n- Ефективно використовуйте інструмент **GetChart**, забезпечуючи точні та чіткі результати аналізу.  \n- Уникайте фінансових прогнозів чи рекомендацій. Зосереджуйтеся на навчанні та інформуванні користувача.  \n---  "
}

      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        380,
        160
      ],
      "id": "cab2117d-ac56-4ae5-bcf0-e61a29e40c9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        160
      ],
      "id": "65b9eb3c-5545-45af-9c34-2b22c0488379",
      "name": "Telegram Trigger",
      "webhookId": "dbf7f0b7-5cdd-45a3-8c91-39f0665aba76",
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        160
      ],
      "id": "c3e4033e-2398-432e-876b-334449061b53",
      "name": "Send Analysis",
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent\n",
        "height": 520,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        40
      ],
      "typeVersion": 1,
      "id": "943ed130-2c6b-4ed7-b5d7-3f073a25e2e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Chart & Technical Analysis Workflow",
        "height": 240,
        "width": 1580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        680
      ],
      "typeVersion": 1,
      "id": "50146ef4-ae0e-407e-8eff-b36900234ac9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        760
      ],
      "id": "3f4e019d-d172-4bfc-b2e4-e758778523ff",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdf7e016-7082-4146-9038-454139023990",
              "name": "response",
              "value": "={{ $('Technical Analysis').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        760
      ],
      "id": "7513e658-73ec-4072-8c5c-8401a37b453b",
      "name": "response"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=# Роль\n\nВи є експертом з фінансового аналізу, спеціалізуючись на технічному аналізі фінансових графіків. Ваша роль — аналізувати надані фінансові графіки та надавати всебічні відомості щодо технічних аспектів, включаючи патерни свічок, індикатори MACD, тренди обсягів та загальний настрій ринку. Ви повинні надати детальний аналіз графіка, виділяючи ключові області інтересу та дієві поради.\n\nПри аналізі фінансового графіка завжди включайте наступне:\n\n1. **Аналіз свічок**:\n   - Визначте та поясніть будь-які значущі патерни свічок (наприклад, бичачий поглинання, доji, молот).\n   - Прокоментуйте загальний тренд (бичачий, ведмежий або боковий).\n   - Виділіть будь-які зони прориву або відкату.\n\n2. **Аналіз MACD**:\n   - Описати поточний стан лінії MACD та лінії сигналу (наприклад, бичачий кросовер, ведмежий кросовер).\n   - Обговоріть гістограму MACD та її вплив на імпульс.\n   - Визначте будь-які дивергенції між MACD та ціновим рухом.\n\n3. **Аналіз обсягів**:\n   - Виділіть будь-які значні зміни в торгових обсягах.\n   - Поясніть, як обсяг підтверджує або суперечить руху ціни.\n   - Вкажіть на будь-які незвичайні сплески обсягів, які можуть свідчити про інституційну активність.\n\n4. **Рівні підтримки та опору**:\n   - Визначте ключові рівні підтримки та опору на основі графіка.\n   - Обговоріть важливість цих рівнів для потенційних розворотів або проривів.\n\n5. **Дієві поради**:\n   - Надайте чіткі рекомендації щодо потенційних стратегій купівлі, продажу чи утримання.\n   - Порадьте, що слід спостерігати в короткостроковій перспективі, включаючи сигнали підтвердження або потенційні ризики.\n\n6. **Інші спостереження**:\n   - Зазначте будь-які патерни або індикатори, які є важливими для аналізу.\n   - Запропонуйте висновки щодо настрою ринку або інших ширших трендів, спираючись на графік.\n\nБудьте чіткими, лаконічними та орієнтованими на дані у своєму аналізі. Ваша мета — надати дієву інформацію, яку трейдери та інвестори можуть використати для прийняття обґрунтованих рішень. Завжди пояснюйте свої висновки щодо будь-яких результатів, до яких ви дійшли на основі графіка.",
        "inputType": "base64",
        "simplify": false,
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        740,
        760
      ],
      "id": "6586ca96-0c3e-43d8-b356-5ae152f1e496",
      "name": "Technical Analysis",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        760
      ],
      "id": "bcb63a37-5d63-4e1e-b242-15d9700a45f6",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR API KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        760
      ],
      "id": "4a9de02a-37fc-4223-93c1-902c2c7b38bf",
      "name": "Get Chart URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5f7210-5b54-4f4a-abf7-87873be82df4",
              "name": "ticker",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        760
      ],
      "id": "504f179e-9e40-4f72-a426-a2db8f8efb52",
      "name": "Set Ticker"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR CHAT ID",
        "file": "={{ $('Get Chart URL').item.json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        760
      ],
      "id": "e127478b-5bbe-434a-8a34-9dc4b50c9a3a",
      "name": "Send Chart",
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "test stock ticker"
        }
      }
    ]
  },
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis": {
      "main": [
        []
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Set Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "main": [
        [
          {
            "node": "Send Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Technical Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart URL": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticker": {
      "main": [
        [
          {
            "node": "Get Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "824e46f3-eca3-4af1-a5a5-098ae65f1edb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39"
  },
  "id": "rpypCFG9BfrqFHWA",
  "tags": []
}